$primaryColor:white;
$offColor:#545e56;
$offColorContrast:#1F2B47 ;
$offColorContrastFooter:#253455;
$borderColor:#8d99ae;
$highlight:#fca311;
$darkSeeTrough:rgba(35,35,35,0.9);

@font-face{
    font-family: Lato;
    src: url('./fonts/Lato-Regular.ttf');
}
html{
    scroll-behavior: smooth;
}
body,html{
    margin: 0;padding: 0;
    font-family: Lato;
    color: $primaryColor;
}
#MainContentContainer{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    z-index: -999;
    background-color: $offColorContrast;
}
#MainContent{
    display: flex;
    flex-direction: column;
    grid-column: 2/10;
}
#PresentationCardContainer{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/blurryBG2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: 1;
    #videoBg{
        width: 100%;
        height: 100vh;
        object-fit: fill;
    }
}
#FadeOutEffectPresentationCardContainer{
    position: absolute;
    top:95%;
    left: 0;
    background-image : linear-gradient(to bottom, rgba(255,255,255, 0),rgba($offColorContrast, 1) 95%);
    height:5vh;
    width: 100%;
    z-index: 2;
}
#overVideo{
    height: 100vh;
    z-index: 2;
}
.PresentationCard{
    background-color: $darkSeeTrough;
    border-radius: 5px;
    text-align: center;
    margin-top: 14%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    width: 50%;
    box-shadow:4px 6px rgba($color: #000000, $alpha: 0.3);
    z-index: 999;
    a{
        text-decoration: none;
        color: $primaryColor;
        &:visited{
            color: $primaryColor;
        }
    }
    h2{
        padding-top: 1em;
    }
    h4{
        margin-bottom: 0.5em;
    }
    hr{
        background-color: $primaryColor;
        height: 1px;
        margin: 0 5em;
        margin-top: 1em;
    }
    .ContactContainer,.SectionJumper{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .ClickableBox{
        border: 1px solid $borderColor;
        border-radius: 2px;
        padding: 0.5em 1em;
        margin:0 0.5em;
        transition: ease-in 0.5s;
        &:hover{
            background-color: #a8dadc;
            color: black;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
}

#Projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: $offColor;
    h3{
        color: $primaryColor;
        &:first-of-type{
            text-align: center;
        }
    }
    .ProjectSectionItem{
        width: 65%;
        margin: auto;
        border: 1px solid $borderColor;
        border-radius: 5px;
        background-color: white;
        box-shadow:2px 3px rgba($color: #000000, $alpha: 0.8);
        text-align: center;
        p{
            padding: 0em 1em;
        }
        img{
            width: 90%;
            margin: auto;
        }
    }
    .CollapseButton{
        display: flex;
        justify-content: space-between;
        height: 4em;
        width: 65%;
        margin: auto;
        padding-top: 1em;
        font-size: 1em;
        text-align: left;
        border: 1px solid $borderColor;
        border-radius: 5px;
        transition: ease-in 0.2s;
        &:hover{
            cursor: pointer;
            background-color: $highlight;
        }
        p{
            width: 33%;
        }
        span{
            width: auto;
            font-size: 2em;
        }
    }
}
#FadeOutEffectProjectContainer{
    height:5vh;
    width: 100%;
    background-image : linear-gradient(to bottom, rgba($offColorContrast, 1),rgba($offColorContrastFooter, 1) 95%);
    z-index: 2;
}
#AboutAndFooter{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    height: 25vh;
    background-color: $offColorContrastFooter;
    color: $primaryColor;
    z-index: 1;
}
.About{
    grid-column: 3/9;
    grid-row: 1/11;
    h3{
        &:first-of-type{
            text-align: center;
        }
    }
}

@media (min-aspect-ratio:16/9){
    #videoBg{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    #videoBg{
        width: auto;
        height: 100%;
    }
}
@media (max-width:768px){
    #MainContent{
        grid-column: 1/11;
    }
    #videoBg{
        display: none;
    }
    .PresentationCard{
        width: 98%;
    }
    #Projects{
        .CollapseButton{
            width: 100%;
            h4,p{
                font-size: 0.5em;
            }
        }
        .ProjectSectionItem{
            width: 99%;
            margin: 0;
            p{
                padding: 0em 1em;
            }
            img{
                width: 90%;
            }
        }
    }
    .About{
        grid-column: 1/11;
        font-size: 0.5em;
    }
}
@media (min-height:732px)and (max-height:850px){
    .PresentationCard{
        margin-top: 40%;
    }
}


